html {
  font-size: 10px;
  @include at-desktop-small {
    font-size: 0.7vw;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: $font-normal;
  font-weight: 300;
}

.text--title {
  font-family: $font-special;
  @include at-desktop {
    font-size: 4.8rem;
    line-height: 5.6rem;
    max-width: 100rem;
  }
  @include at-mobile {
    font-size: 22px;
  }
}

.text--subtitle {
  font-family: $font-special;
  @include at-desktop {
    font-size: 4em;
    line-height: 1.125em;
  }
  @include at-mobile {
    font-size: 22px;
  }
}

.text--content {
  @include at-desktop {
    font-size: 24px;
    line-height: 1.8em;
  }
}
