:root {
  --font-normal: 'Idealist Sans';
  --font-special: 'MADE Evolve Sans';
  --font-size: 24px;
  --gap: 20px;
  @include at-mobile {
    --font-size: 18px;
  }
}

.hero__heading {
  max-width: 634px;
}
