@font-face {
	font-family: 'MADE Evolve Sans';
	src: url('./MADEEvolveSans-Medium.woff2') format('woff2'),
       url('./MADEEvolveSans-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
