$font-normal: 'MADE Evolve Sans';
$font-special: 'Idealist Sans';

$color-content: #242628;
$color-blue: #23C2D4;
$color-green: #0ebead;

$background-primary: linear-gradient(45deg, #E1F3FF, #C5FBE8);
$background-secondary: linear-gradient(to right, $color-blue, $color-green)
