@custom-media --desktop (min-width: 1366px);
@custom-media --mobile (max-width: 1365px);

:root {
  --container-side: auto;
  --container-width: auto;
  @media (--desktop) {
    --container-width: 1296px;
  }
  @media (--mobile) {
    --container-side: 20px;
  }
}
