@font-face {
	font-family: 'Idealist Sans';
	src: url('./IdealistSans-Light.woff2') format('woff2'),
       url('./IdealistSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Idealist Sans';
	src: url('./IdealistSans.woff2') format('woff2'),
       url('./IdealistSans.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
